.formClass{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap:1em;
    background-color: rgba(240, 202, 131, 0.705);
    padding:1em;
    margin-top: 1em;
    border-radius: 1%;
}

.char-form{
    background-color: rgba(172, 149, 149, 0.733);
}


