.formClass{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap:1em;
    background-color: rgba(240, 202, 131, 0.705);
    padding:1em;
    margin:0 auto;
    border-radius: 1%;
    max-width: 60em;
    width:75%;
    margin-top:1em;
    height: 40%;
}

.char-form{
    background-color: rgba(172, 149, 149, 0.733);
}

.button-right{
    grid-column:2;
}

